<header>
	<h1>Skate Spot Finder</h1>
	<ul>
		<!-- <li><%#<%= link_to "Sign in", new_user_session_path %></li> -->
		<!-- <li><%#<%=link_to "Spots", new_spot_session_path %></li> -->
	</ul>
	<div class= "intro">
	<%= image_tag "skateplaza.jpg", :class => "main_logo" %>

	</div>
</header>