<div class="background" style="background-image: url('<%= asset_path 'skatecover.jpg' %>')"></div>
<ul>
	<li>
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span><%=link_to " Home Page ", root_path, :style => "text-decoration:none;" %>
	</li>
	<li><h1>Find a spot</h1></li>

</ul>



<h1>The Spots Found</h1>
<ul>
	<% @spots.each do |spot| %>
  <li><%= link_to spot.city, spot %></li>
<% end %>
</ul>

 <%= render 'form' %>
