<link rel="stylesheet" href="/path/to/spots.css" media="screen">
<div class= "background">
		<%= image_tag "skatecover.jpg" %>
</div>
<ul>
	<li>
		<%=link_to "Home Page", root_path %>
	</li>
	<h1>Find a spot</h1>

</ul>



<h1>The Spots Found</h1>
<ul>
	<h3><% @spots.each do |spot| %>
  <li><%= link_to spot.city, spot %></li>
<% end %>
</ul>
</div>

 <%= render 'form' %>
